@function rem($size) {
    @return $size / 18px * 1rem;
}

$primary: #DB5435;
$primaryDark: #9C3C25;
$textColor: #FFFBFA;
$primaryBackground: #2E2E2E;
$font-size-title: rem(34px);
$font-size-subtitle: rem(24px);
$font-size-text: rem(18px);
$font-size-timer-text: rem(60px);



